#section1
	background url('../img/HomeBG.jpg')
	background-repeat no-repeat
	background-size cover
	
	p 
		font-size 1.5em
		
	.text2
		position absolute
		bottom 100px
		text-align center
		width 100%
	img
		display block
		margin 0 auto
		width 220px
		position relative
		top 20%