section(id="section1")
	p Tu última esperanza ... para encontrar lo perdido.

	img(ng-src="img/mundo.png")

	p.text2 Usuarios honestos de todo el mundo se reúnen en un solo lugar para devolver objetos perdidos.