section(id="section2")
	p(id="sub_section2") ¿Encontraste algo?
	p(id="txt_section2") Reporta y gana increìbles descuentos
	.container(id="inst_section2")
		.row
			.col-md-4.col-sm-8.item
				img(ng-src="img/s1Cartera.png")
				p.info Registra el objeto.
			.col-md-4.col-sm-8.item
				img(ng-src="img/s1Mail.png")
				p.info Revisa las solicitudes de los reclamos.
			.col-md-4.col-sm-8.item
				img(ng-src="img/s1Flash.png")
				p.info Concreta la devolución y recibe tu recompensa.