@font-face
  font-family 'exolight'
  src url('../fonts/exo-light-webfont-webfont.eot')
  src url('../fonts/exo-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-light-webfont-webfont.woff2') format('woff2'),
         url('../fonts/exo-light-webfont-webfont.woff') format('woff'),
         url('../fonts/exo-light-webfont-webfont.ttf') format('truetype'),
         url('../fonts/exo-light-webfont-webfont.svg#exolight') format('svg')
  font-weight normal
  font-style normal
