html,body
	color white
	min-height 100%
	height 100%
	font-family 'exolight'
	div.ng-scope
		height 100%
	
section
	position relative
	padding-top 60px
	height 100%
	min-height 100%
	width 100%
	margin 0 auto;


.modal-content
	padding 0 10px 10px 10px

.button-blue
	span
		background #2770B0
		color white
		cursor pointer
		font-size 1.2em
		display inline-block
		margin-top 1em
		height 50px
		line-height 50px
		padding 0 1em