section(id="section3")
	p(id="sub_section3") ¿Perdiste algo?
	p(id="txt_section3") Busca y encuéntralo.
	.container(id="inst_section3")
		.row
			.col-md-4.col-sm-8.item
				img(ng-src="img/s2Cel.png")
				p.info ¿Extraviaste un objeto?
			.col-md-4.col-sm-8.item
				img(ng-src="img/s2Lupa.png")
				p.info Busca y reclámalo.
			.col-md-4.col-sm-8.item
				img(ng-src="img/s2Thumb.png")
				p.info Concreta la devolución.