div#logInModule
	h2 Sign Up

	img(class="fbInit", ng-click="intentFBLog()" , ng-src="../../img/FBbut.png")
	//-img(class="fbInit", ng-click="loginGp()" , ng-src="../../img/GPbut.png")
	
	div.center
		p o crea una cuenta


		form(no-validate)
			div
				label Usuario 
				br
				input(type="text")
			div
				label Contraseña
				br
				input(type="password")
			div
				div.button-blue
					span Sign Up