#logInModule
	color #000
.fbInit
	cursor pointer
	display block
	margin 5px auto
	width 350px
	
.modal-content
	color #000
.center
	text-align center
	margin 0 auto
	width 350px
	
	form
		div
			width 100%
		.button-blue
			position relative
input
	padding 0 1em
	width 100%
	border none
	height 48px
	background #DBDFE7
label
	width 100%
	text-align left
			
		
@media screen and (max-width:549px)
	.fbInit
		width 100%	
	.center
		width 100%
