section(id="section4")
	p(id="section_title") Conoce a nuestros aliados
	img(ng-src="img/aliados.png").img-responsive
	p(id="tit_aviso") Aviso de Privacidad
	p(id="txt_aviso") Al usar el Encontrainador aceptas que los datos como su nombre y correo electrónico pueden ser compartidos con otros usuarios.